/* veel gebruikte kleuren, oa voor controls in de kaart.*/
$BlueColour:		rgb(0, 60, 136);
$BlueColourTransp:	rgba($BlueColour, 0.8);
$BlueColourLighter:	lighten($BlueColour, 10%);
$BlueColourDarker:	darken($BlueColour, 10%);

$ControlBorderColour: rgb(170, 170, 170);
