.page .header .shortMenu {
    height: 23px;
    width: 260px;
    float: right;
    margin: 7px 13px 0 0;
}

.page .header .shortMenu a{
    margin: 5px;
    display: block;
    float: left;
    color: #666666;
    /*font-family: 'Akko W01 Regular';*/
    font-size: 13px;
    text-decoration:none;
}