/* decorator voor een tooltip functie van focus-able elementen zoals a en button */
.hasTooltip {
	position:relative;
	z-index: $z-zoekContainer + 100;
	
	& span {
		/* afgeleid van .visually-hidden */
		position: absolute;
		clip: rect(1px 1px 1px 1px); /* < IE8 */
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	
	&:hover span {
	/* &:focus span { focus is a not working properly in some browsers */
		clip: auto;
		padding: 2px;
		/* border: $ControlBorder; */
		height: auto;
		width: auto;
		bottom: 3em;
		right: 0px;
		z-index: $z-zoekContainer + 100;
		max-height: 100px;
		white-space: nowrap;
		display: inline-block;
		background-color: #fff;
		color: #000;
		/* @include border-radius(3px); */
		/* @include box-shadow(2px 2px 2px $ControlBorderColour); */
		font-size: 12px;
		font-weight: normal;
	}
}
