/* css voor Viewer.js */
$ViewerControlBorder: 1px solid $ControlBorderColour;

#toggleSize {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 21px;
	height: 21px;
	z-index: 900;
	display: block;
	border: $ViewerControlBorder;
	&.max { /*max icon*/
		background: url('../img/maxmin.png') no-repeat -21px 0;
	}
	&.restore { /*min icon*/
		background: url('../img/maxmin.png') no-repeat 0 0;
	}
}

#toggleBaseMap {
	position: absolute;
	top: -1px;
	/* afstand vanaf de rand van de kaart */
	right: 50px;
	/* -right iets (2px) meer dan de breedte van de achtergrond sprite>40px */
	padding: 0 42px 0 2px;
	z-index: 900;
	line-height: 21px;
	color: #fff;
	text-align: right;
	display: block;
	border: $ViewerControlBorder;
	background-color: $BlueColourTransp;
	&:hover {
		background-color: $BlueColour;
	}
	background-repeat: no-repeat;
	background-image: url('../img/lufotopo.png');
	&.lufo { /*lufo icon*/
		background-position: top right;
	}
	&.topo { /*kaart icon*/
		background-position: right bottom;
	}	
}

#sliderFGMap {
	position: absolute;
	z-index: 900;
	top: 4px;
	right: 170px;
	width: 200px;
	line-height: 21px;
	color: #fff;
	background-color: $BlueColourTransp;
	border: $ViewerControlBorder;
	display: block;
	&:hover {
		background-color: $BlueColour;
	}
}

#sliderFGMap .ui-slider-handle {
	border: $ViewerControlBorder;
	background: #fff;
	font-weight: normal;
	color: $BlueColour;
}

#sliderFGMap a {
	text-align: center;
	line-height: 1.2em;
	text-decoration: none
}

#slidervalue {
	position: absolute;
	left: 0;
	top: 15px;
	color: #000;
	background-color: #fff;
	line-height: 15px;
	padding: 2px;
	border: $ViewerControlBorder;
}
