/* styles voor het zoekformulier (zoekformulier.jsp en ZoekFormulier.js) */

.zoekinput {
	margin: 0;
	padding: 0;
}

#zoekresultaten {

}

#zoekContainer {
	width: 100%;
	padding-top: 3px;
	padding-bottom: 3px;
}

#zoekContainer .adreslijst {

}

#adres {
	min-width: 120px;
	height: 27px;
	line-height: 27px;
	border: solid 1px $BlueColour;
	margin: 0;
}

#searchbutton {
	background-image: url('../img/search.png');
	background-position: 0px 31px;
	width: 31px;
	height: 31px;
	border: solid 1px $BlueColour;
	&:hover {
		background-position: 0px 62px;
	}
	&:focus {
		background-position: 0px 62px;
	}
}

.ui-autocomplete-loading {
	background: #fff url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	border: solid 1px $BlueColour;
}

.ui-menu {
	z-index: 1010;
}
