/target/
/cache/
/cov-int/
.settings/
.project
.classpath
/nb-configuration.xml
/src/main/webapp/lib/OpenLayers.js
/src/main/webapp/lib/*.map
/src/test/js/lib/OpenLayers-test.js
/src/test/js/lib/jasmine-1.3.1
/src/main/webapp/maps/*.png
/*.log
/notes.txt
Thumbs.db
*.cmd
