#custom OpenLayers 2.x build config

[first]
OpenLayers/SingleFile.js
OpenLayers.js
OpenLayers/BaseTypes.js
OpenLayers/BaseTypes/Class.js
OpenLayers/Projection.js
OpenLayers/Util.js
OpenLayers/Console.js

[last]


[include]
OpenLayers/Renderer.js
OpenLayers/Renderer/SVG.js
OpenLayers/Renderer/Canvas.js
OpenLayers/Renderer/VML.js
#layers
OpenLayers/Layer/WMTS.js
OpenLayers/Layer/WMS.js
#controls
OpenLayers/Control/Navigation.js
OpenLayers/Control/Zoom.js
OpenLayers/Control/KeyboardDefaults.js
OpenLayers/Control/WMSGetFeatureInfo.js
OpenLayers/Control/ScaleLine.js
# work around for https://github.com/openlayers/openlayers/pull/689
OpenLayers/Format/GML.js
# voor de OpenLayers.Handler.KeyboardPoint
OpenLayers/Layer/Vector.js
OpenLayers/Geometry/Point.js
OpenLayers/StyleMap.js
# voor de kaart
OpenLayers/TileManager.js
OpenLayers/Kinetic.js
#language files
OpenLayers/Lang/nl.js

[exclude]
Firebug
deprecated.js
