@charset "UTF-8";
/* style sheet met opmaak voor IE8. Dit betreft met name workrounds voor ontbrekende transparantie en andere bugs.*/

.olHandlerBoxZoomBox {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity = 50)";
}

div.olControlZoom a {
	background: #130085;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity = 80)";
}

div.olControlZoom a:hover {
	background: #130085;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity = 100)";
}

#toggleBaseMap {
	background: #130085;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity = 80)";
}

#toggleBaseMap:hover {
	background: #130085;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity = 100)";
}

.ui-autocomplete {
	zoom: 1;
	filter: alpha(opacity=90);
}