@charset "UTF-8";

.olHandlerBoxZoomBox {
	filter: alpha(opacity = 50);
}

div.olControlZoom a {
	background: #130085;
	filter: alpha(opacity = 80);
}

div.olControlZoom a:hover {
	background: #130085;
	filter: alpha(opacity = 100);
}

#toggleBaseMap {
	background: #130085;
	filter: alpha(opacity = 80);
}

#toggleBaseMap {
	background: #130085;
	filter: alpha(opacity = 100);
}