@charset "UTF-8";

/* layout stylesheet, te gebruiken voor plaatsen en afmetingen */
.kop {
	height: 50px;
}

.wrapper {
	width: 100%;
	min-width: 640px;
}

.viewer {
	width: 100%;
	height: 1%;
	position: relative;
}

.viewer:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

.kaarten {
	width: 100%;
	float: left;
	overflow: hidden;
}

.kaartContainer {
	padding: 0 0 0 230px;
}

.sidebar {
	float: left;
	width: 230px;
	margin-left: -100%;
	position: relative;
}
