@charset "UTF-8";

/* basis layout stylesheet, te gebruiken voor plaatsen en afmetingen. */
.kop {
	
}

.wrapper {
	width: 100%;
	min-width: 640px;
	height: 100%;
	min-height: 480px;
}

.kaarten {
   float: left;
   width: 100%;
}

.kaartContainer {
	/* margin is de breedte van de sidebar */
	margin-left: 230px;
}

/* zweeft links*/
.sidebar {
	float: left;
	width: 230px;
	margin-left: -100%;
}
