#infobox {
	background-color: #eeeeee;
	background-image: url('../img/template/explanation.png');
	background-position: center 5px;
	background-repeat: no-repeat;
	border: 0px solid;
	color: #000000;
	margin: 10px 0px;
	padding: 50px 0px 0px 10px;
	width: 183px;
}
.dropDownMenu {
	cursor: pointer;
	left: 5px;
	position: absolute;
	top: 10px;
}
.siteNavigation, .siteNavigation ol, .siteNavigation ul, .siteNavigation li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.megaMenu, .megaMenu ul, .navCategories, .megaMenu .col {
	min-height: 520px;
}
.siteNavigation .sectionTheme:hover .navDropDown {
	left: auto;
}
.megaMenu.show {
	left: 20%;
}
.megaMenu {
	width: 80%;
}
.navCategories>li {
	width: 20%;
}
.navCategories li:hover>.contentasset>.megaMenu, 
.navCategories li:focus>.contentasset>.megaMenu, 
.navCategories>li:first-child .megaMenu {
	left: 20%;
}
.closeMega
{
	background: linear-gradient(top, rgba(234,74,175,1) 0%,rgba(229,29,155,1) 100%);
	background: -moz-linear-gradient(top, rgba(234,74,175,1) 0%, rgba(229,29,155,1) 100%);
	background: -ms-linear-gradient(top, rgba(234,74,175,1) 0%,rgba(229,29,155,1) 100%);
	background: -o-linear-gradient(top, rgba(234,74,175,1) 0%,rgba(229,29,155,1) 100%);
	background: rgb(234,74,175);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,74,175,1)), color-stop(100%,rgba(229,29,155,1)));
	background: -webkit-linear-gradient(top, rgba(234,74,175,1) 0%,rgba(229,29,155,1) 100%);
	border: solid 2px white;
	border-radius: 24px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
	color: white;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea4aaf', endColorstr='#e51d9b',GradientType=0 );
	font-size: 15px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	position: absolute;
	right: 7px;
	text-align: center;
	top: 5px;
	width: 24px;
	z-index: 1005;
}
.siteNavigation {
	float: left;
	margin-top: 70px;
	position: relative;
	width: 100%;
}
.siteNavigation > li {
	display: block;
	float: left;
	list-style: none;
	z-index: 1006;
}
.siteNavigation>li>a {
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 100%);
	background: rgb(255,255,255);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(212,212,212,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(212,212,212,1) 100%);
	border-color: #b7b7b7 #d4cfca;
	border-style: solid;
	border-width: 0px;
	color: #333333;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 35px;
	line-height: 33px;
	padding: 0 15px;
	position: relative;
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.33);
	white-space: nowrap;
	z-index: 1007;
}
.siteNavigation>li:first-child>a {
	border-left-width: 0px;
}
.siteNavigation>li:last-child>a {
	border-right-width: 0px;
}
.hasMenu:after {
	color: #666666;
	content: "?";
	display: inline-block;
	padding: 0 0 0 10px;
	text-shadow: none;
}
.siteNavigation>li>a.hasMenu {
	padding-right: 10px;
}
.navDropDown {
	left: -9999px;
	position: absolute;
	top: 35px;
	width: 980px;
	z-index: 1005;
}
.navCategories {
	background: #f2f2f2;
	border-radius: 0 0 3px 3px;
	border-top: 0;
	box-shadow: 0 1px 10px 3px rgba(0, 0, 0, .3);
	moz-border-radius: 0 0 3px 3px;
	moz-box-shadow: 0 1px 10px 3px rgba(0, 0, 0, .3);
	position: relative;
	webkit-border-radius: 0 0 3px 3px;
	webkit-box-shadow: 0 1px 10px 3px rgba(0, 0, 0, .3);
}
.no-boxshadow .navCategories {
	border: solid #D4CFCB;
	border-width: 0 1px 1px 1px;
}
.navCategories>li {
	display: block;
}
.navCategories>li>a {
	border-color: white;
	border-style: solid;
	border-width: 0 0 1px 0;
	color: #353535;
	display: block;
	font-weight: bold;
	padding: 10px 0 10px 10px;
	text-shadow: 2px 2px 2px #ffffff;
}
.navCategories>li>a:hover, .navCategories>li>a:focus {
	color: #E51D9B;
}
.navCategories>li>a.current,
.navCategories>li>a:hover, .navCategories>li>a:focus ,
.navCategories>li:hover>a, .navCategories>li:focus>a {
	background: white;
	border-color: #e4e4e4;
	text-decoration: underline;
	text-shadow: none;
}
.navCategories>li>a:after,
.navCategories>li:hover>a:after {
	background: url(../img/template/arrows_sprite_8.png) no-repeat -30px 0;
	content: '';
	display: inline-block;
	float: right;
	height: 9px;
	position: relative;
	right: 10px;
	top: 2px;
	width: 6px;
}
.navCategories>li:hover>a:after {
	background-position: -16px 0;
}
.navCategories>li>a:hover:after,
.navCategories>li:hover>a:after {
	color: #353535;
}
.megaMenu {
	background: #fff;
	border-radius: 0 0 3px 0;
	left: -2000em;
	moz-border-radius: 0 0 3px 0;
	position: absolute;
	top: 0;
	webkit-border-radius: 0 0 3px 0;
	z-index: 1005;
}
.megaMenu ul ul, .megaMenu .col {
	float: left;
	width: 33%;
}
.megaMenu ul ul:last-child,
.megaMenu .col:last-child {
	border: none;
	width: 33.6666666%;
}
.megaOneColumn ul ul, 
.megaOneColumn .col {
	width: 100%;
}
.megaOneColumn ul ul:last-child,
.megaOneColumn .col:last-child {
	width: 100%;
}
.megaTwoColumns ul ul, 
.megaTwoColumns .col {
	width: 49.75%;
}
.megaTwoColumns ul ul:last-child,
.megaTwoColumns .col:last-child {
	width: 50%;
}
.megaThreeColumns ul ul, 
.megaThreeColumns .col {
	width: 33%;
}
.megaThreeColumns ul ul:last-child,
.megaThreeColumns .col:last-child
{
	width: 34%;
}
.megaFourColumns ul ul, 
.megaFourColumns .col {
	width: 24.75%;
}
.megaFourColumns ul ul:last-child,
.megaFourColumns .col:last-child {
	width: 25.25%;
}
.megaTwoThirdsColumns .col {
	width: 50%;
}
.megaTwoThirdsColumns .col:last-child {
	width: 50%;
}
.megaTwoThirdsColumns ul ul {
	width: 24.5%;
}
.megaTwoThirdsColumns ul ul:last-child {
	width: 25%;
}
.megaMenu ul ul li, 
.megaMenu .col .padding {
	display: block;
	padding: 2px 10px 2px 10px;
}
.megaMenu .col .padding,
.siteNavigation .menuTitle:first-child {
	margin-top: 10px;
}
.siteNavigation .menuTitle:before{
	background: none;
	content: '';
}
.siteNavigation .menuSpacer {
	margin-bottom: 10px;
}

.siteNavigation .menuTitle {
	font-family: sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 10px;
	padding: 0;
	text-align: left;
	text-transform: none;
	margin-bottom: 10px;
	margin-top: 10px;
}

.megaMenu p {
	padding: 0 0 5px 0;
}

.siteNavigation>li>a {
	background: linear-gradient(top, rgba(84,84,84,1) 0%,rgba(30,30,30,1) 100%);
	background: -moz-linear-gradient(top, rgba(84,84,84,1) 0%, rgba(30,30,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(84,84,84,1) 0%,rgba(30,30,30,1) 100%);
	background: -o-linear-gradient(top, rgba(84,84,84,1) 0%,rgba(30,30,30,1) 100%);
	background: rgb(84,84,84);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,1)), color-stop(100%,rgba(30,30,30,1)));
	background: -webkit-linear-gradient(top, rgba(84,84,84,1) 0%,rgba(30,30,30,1) 100%);
	border-color: rgb(51,51,51);
	border-style: solid;
	color: white;
	font-weight: bold;
	margin-right: 1px;
	text-decoration: none;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.33);
	white-space: nowrap;
}
.siteNavigation>li:first-child>a {
	border-radius: 3px 0 0 0;
}
.siteNavigation>li:last-child>a {
	border-radius: 0 3px 0 0;
}
.navCategories {
	border-color: #D4CFCB;
	border-width: 0 2px 2px 2px;
}
.navCategories .megaMenu li a {
	color: #333366;
	text-decoration: none;
}
.navCategories .megaMenu li a:hover {
	color: #000000;
	text-decoration: underline;
}
.navleft li, .navright li {
	float: left;
	list-style: none;
	margin: 0 3px;
	padding: 0 0 0px;
	padding-left: 10px;
	position: relative;
}
.navleft a, .navright a {
	color: #333366;
	display: block;
	margin: 0;
	padding: 2px 0px;
	text-decoration: none;
}
.navright a {
	width: 180px;
}
.navleft a {
	width: 245px;
}
.navleft a:hover, .navright a:hover {
	background-color: #000;
	color: #fff;
}
.navleft .menuTitle, .navright .menuTitle {
	padding: 0px;
}
.navleft li:hover > a, .navright li:hover > a {
	background-color: #eeeeee;
	color: #000000;
}
.navleft ul li a, .navright ul li a {
	display: inline;
}
.navleft ul li:hover a, .navleft li:hover li a, .navright ul li:hover a, .navright li:hover li a {
	background-color: #ffffff;
	border: none;
	color: #333366;
}
.navleft ul a:hover, .navright ul a:hover {
	background-color: #eeeeee;
	color: #000 !important;
	text-decoration: underline;
}
.navleft li:hover > ul, .navright li:hover > ul {
	display: inline;
}
.navleft ul {
	background-color: #ffffff;
	border: solid 1px #b4b4b4 !important;
	display: none;
	left: 190px;
	margin: 0;
	min-height: 0px;
	padding: 3px 8px 3px 8px;
	position: absolute;
	top: 0px;
	width: 120px !important;
	z-index: 1007;
	z-index: 1010;
}
.navright ul {
	background-color: #ffffff;
	border: solid 1px #b4b4b4 !important;
	display: none;
	left: -130px;
	margin: 0;
	min-height: 0px;
	padding: 3px 8px 3px 8px;
	position: absolute;
	top: 0px;
	width: 120px !important;
	z-index: 1010;
}
.navleft ul li, .navright ul li {
	float: none;
	margin: 0;
	padding: 0;
}
.navleft ul a, .navright ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}
.navleft:after, .navright:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.navleft,.navright {
	display: inline-block;
}
* html .navleft, html .navright {
	height: 1%;
}
.dropDownMenu a span {
	display: none;
}
.dropDownMenu a:hover span {
	color: #000000;
	display: block;
	font-size: 11px;
	left: 5px;
	margin: 0px;
	padding: 5px;
	position: fixed;
	top: 276px;
	width: 183px;
	z-index: 100;
}
.dropDownMenu a:hover .redcolor {
	color: red;
}