#infobox {
	background-image: url('../img/template/explanation.png');
	background-position: center 5px;
	background-repeat: no-repeat;
	border: 0px solid;
	color: #000000;
	margin: 10px 0px;
	padding: 50px 0px 0px 10px;
	width: 183px;
}
.dropDownMenu {
	cursor: pointer;
	left: 2px;
	position: absolute;
	top: 165px;
}
.siteNavigation, .siteNavigation ol, .siteNavigation ul, .siteNavigation li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.megaMenu, .megaMenu ul, .navCategories, .megaMenu .col {
	min-height: 520px;
}
.siteNavigation .sectionTheme:hover .navDropDown  {
	left: auto;
}
html.js .siteNavigation .sectionTheme:hover .navDropDown {
	left: -9999px;
}
.megaMenu.show {
	left: 20%;
}
.megaMenu {
	width: 80%;
}
.navCategories>li {
	width: 20%;
}
.navCategories li:hover>.contentasset>.megaMenu, 
.navCategories>li:first-child .megaMenu {
	left: 20%;
}
.closeMega {
	position: absolute;
	right: -170px;
	bottom: 8px;
	z-index: 1005;
	height: 22px;
	line-height:22px;
	width:200px;
	color: #271d6c;
    font-family: Arial;
    font-size: 1em;
    padding: 4px 8px;
	text-decoration:underline;
}
.siteNavigation {
	float: left;
	position: relative;
	width: 100%;
}
.siteNavigation > li {
	display: block;
	float: left;
	list-style: none;
	z-index: 1006;
}
.siteNavigation>li>a {
	background-color:rgb(130,4,94);
	color: white;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	display: block;
	float: left;
	height: 35px;
    font-family: 'SoHo Medium';
	font-size:16px;
	line-height: 33px;
	padding: 3px 10px 3px 15px;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
	z-index: 1007;
}
.siteNavigation>li>a:hover, .siteNavigation>li>a:focus {
	color:white;
}
/*#hasMenu:after {
	color: #666666;
	content: "?";
	display: inline-block;
	padding: 0 0 0 10px;
	text-shadow: none;
}
.siteNavigation>li>a#hasMenu {
	padding-right: 10px;
}*/
.navDropDown {
	left: -9999px;
	position: absolute;
	top: 41px;
	width: 980px;
	z-index: 1005;
}
.navCategories {
	background: white;
	position: relative;
}
.navCategories>li {
	display: block;
}
.navCategories>li>a {
	background-color:rgb(130,4,94);
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	color: white;
    font-family: 'SoHo Medium';
	font-size:16px;
	text-decoration: none;
	line-height:40px;
	padding: 10px 10px 10px 15px;
}
.navCategories>li>a span {
	line-height:20px;
}
.navCategories>li>a.current,
.navCategories>li>a:hover,
.navCategories>li>a:focus  {
	/*background-color:rgb(175,14,128);*/
}
.navCategories>li:nth-child(odd)>a {
	background-color:rgb(175,14,128);
}
.navCategories>li:nth-child(odd)>a.current,
.navCategories>li:nth-child(odd)>a:hover,
.navCategories>li:nth-child(odd)>a:focus {
	/*background-color:rgb(130,4,94);*/
}
.megaMenu {
	background: #fff;
	border-radius: 0 0 3px 0;
	left: -2000em;
	moz-border-radius: 0 0 3px 0;
	position: absolute;
	top: 0;
	webkit-border-radius: 0 0 3px 0;
	z-index: 1005;
}
.megaMenu ul ul, .megaMenu .col {
	float: left;
	width: 33%;
}
.megaMenu ul ul:last-child,
.megaMenu .col:last-child {
	border: none;
	width: 33.6666666%;
}
.megaOneColumn ul ul, 
.megaOneColumn .col {
	width: 100%;
}
.megaOneColumn ul ul:last-child,
.megaOneColumn .col:last-child {
	width: 100%;
}
.megaTwoColumns ul ul, 
.megaTwoColumns .col {
	width: 49.75%;
}
.megaTwoColumns ul ul:last-child,
.megaTwoColumns .col:last-child {
	width: 50%;
}
.megaThreeColumns ul ul, 
.megaThreeColumns .col {
	width: 33%;
}
.megaThreeColumns ul ul:last-child,
.megaThreeColumns .col:last-child
{
	width: 34%;
}
.megaFourColumns ul ul, 
.megaFourColumns .col {
	width: 24.75%;
}
.megaFourColumns ul ul:last-child,
.megaFourColumns .col:last-child {
	width: 25.25%;
}
.megaTwoThirdsColumns .col {
	width: 50%;
}
.megaTwoThirdsColumns .col:last-child {
	width: 50%;
}
.megaTwoThirdsColumns ul ul {
	width: 24.5%;
}
.megaTwoThirdsColumns ul ul:last-child {
	width: 25%;
}
.megaMenu ul ul li, 
.megaMenu .col .padding {
	display: block;
	padding: 2px 10px 2px 10px;
}
.megaMenu .col .padding,
.siteNavigation .menuTitle:first-child {
	margin-top: 10px;
}
.siteNavigation .menuTitle:before{
	background: none;
	content: '';
}
.siteNavigation .menuSpacer {
	margin-bottom: 10px;
}

.siteNavigation .menuTitle {
	color: #271d6c;
	font-family: 'SoHo Medium';
	font-size: 1.3em;
	margin: 0 10px;
	padding: 0;
	text-align: left;
	text-transform: none;
	margin-bottom: 10px;
	margin-top: 10px;
}

.megaMenu p {
	padding: 0 0 5px 0;
}
.navCategories {
	border-color: #D4CFCB;
	border-width: 0 2px 2px 2px;
}
.navleft li, .navright li {
	float: left;
	margin: 0 3px;
	padding: 0 0 0px;
	font-size:12px;
	font-family: 'Arial';
	padding-left: 10px;
	position: relative;
}
.navleft a, .navright a {
	font-family: 'Arial';
	color: #000000;
	display: block;
	margin: 0;
	padding: 0;
	font-size:12px;
	text-decoration: none;
}
.navright a {
	width: 245px;
}
.navleft a {
	width: 245px;
}
.navleft a:hover, .navright a:hover,
.navleft a:focus, .navright a:focus {
}
.navleft .menuTitle, .navright .menuTitle {
	padding: 0px;
}
.navleft li:hover > a, .navright li:hover > a,
.navleft li:focus > a, .navright li:focus > a,
.submenuopened {
	background-color: #eeeeee;
}
.navleft ul li a, .navright ul li a {
	display: inline;
	text-decoration: underline;
}
.navleft ul li:hover a, .navleft li:hover li a, .navright ul li:hover a, .navright li:hover li a,
.navleft ul li:focus a, .navleft li:focus li a, .navright ul li:focus a, .navright li:focus li a {
	border: none;
}
.navleft ul a:hover, .navright ul a:hover, 
.navleft ul a:focus, .navright ul a:focus {
	background-color: #eeeeee;
	text-decoration: underline;
}
.navleft li:hover > ul, .navright li:hover > ul,
.navleft li:focus > ul, .navright li:focus > ul {
	display: block;
}
html.js .navleft li:hover > ul, html.js .navright li:hover > ul,
html.js .navleft li:focus > ul, html.js .navright li:focus > ul {
	display: none;
}
/* needed for jquery handling */
html.js .navleft > li, html.js .navright > li { 
	display: inline-block; vertical-align: top; 
}
.navleft ul {
	background-color: #ffffff;
	border: solid 1px #b4b4b4 !important;
	display: none;
	left: 190px;
	margin: 0;
	min-height: 0px;
	padding: 3px 8px 3px 8px;
	position: absolute;
	top: 0px;
	width: 190px !important;
	z-index: 1007;
	z-index: 1010;
}
.navright ul {
	background-color: #ffffff;
	border: solid 1px #b4b4b4 !important;
	display: none;
	left: -200px;
	margin: 0;
	min-height: 0px;
	padding: 3px 8px 3px 8px;
	position: absolute;
	top: 0px;
	width: 190px !important;
	z-index: 1010;
}
.navbottom {
	top:-145px !important;
}
.navleft ul li, .navright ul li {
	float: none;
	margin: 0;
	padding: 0;
}
.navleft ul a, .navright ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}
.navleft:after, .navright:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.navleft,.navright {
	display: inline-block;
}
* html .navleft, html .navright {
	height: 1%;
}
.dropDownMenu a span {
	display: none;
}
.dropDownMenu a:hover span
 {
	color: #000000;
	display: block;
	font-size: 11px;
	left: 5px;
	margin: 0px;
	padding: 5px;
	position: fixed;
	top: 395px;
	width: 183px;
	z-index: 100;
}
.dropDownMenu a:hover .redcolor {
	color: red;
}

.underConstruction {
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	background-color:#093B88;
	opacity:0.8;
	line-height:520px;
	color:white;
	font-size:20px;
	text-align:center;
}
									