@charset "UTF-8";

/* niet af te drukken elementen en klassen. In essentie alle eyecandy, navigatie, hyperlinks etc. */
#toggleSize,#toggleBaseMap,.olControlZoom,#zoekContainer,#coreexitlink,#kaartnavi,.dropDownMenu,.utilBlock,#footer,#cbslogo,#downloadLink,#sliderFGMap,#slidervalue
	{
	display: none;
}

/*reset accordion container, accordion content, label, body etc.*/
.header,.headertop,body,.settingsPanel,.settingsContent,.menuAccordion,.titel,.subtitel
	{
	width: auto;
	height: auto;
	line-height: auto;
	position: static;
	display: initial;
}

body { /* border: 1px solid #F00;*/
	
}

.titel,.subtitel {
	top: 0;
}

#inhoud {
	page-break-after: avoid;
}

/*table*/
#attribuutTabel {
	display: block !important;
}

/*div*/
#legenda {
	display: block !important;
}

/*div*/
#featureinfo {
	
}

a:after {
	content: " (" attr(href) ") ";
	font-size: 8pt;
}

.settingsPanel a:after {
	content: "";
	font-size: 8pt;
}

/*div*/
#cbsKaart {
	border: 1px solid #ccc;
}

/* @media ( max-device-ratio : 1/1) /* portrait of vierkant */

/* @media(min-device-ratio:1/1) /* landscape of vierkant */
@page {
	margin: 1cm;
	orphans: 4;
	widows: 2;
}