@charset "UTF-8";

/* opmaak van de elementen */
.error,.todo {
	background: url("img/error.png") no-repeat scroll -12px 1px transparent;
	padding-left: 16px;
	text-align: center;
	color: #f00;
	border: 1px solid;
	font-size: 90%;
	font-weight: bold;
	font-style: italic;
	font-variant: small-caps;
}

/* verstopt */
.hidden {
	display: none;
}

html.js #kaartContainer.nothidden {
	display: block !important;
}

/* verbergen als er javascript is, hier zit de core kaart + formulier in.*/
html.js #coreContainer,html.js #coreMapImage {
	display: none;
}

html.js  #coreContainer p {
	display: none;
}

a.accesskey {
	position: absolute;
	top: -500px;
	text-align: center;
	display: block;
	height: 21px;
	overflow: hidden;
}

a.accesskey:focus {
	top: 0;
	background-color: #fff;
	width: 100%;
	color: #000;
	z-index: 900;
}

/* legenda elementen */
.legendaTitel {
	
}
/* (adres) zoeken elementen */
.zoekenTitel {
	
}

#zoekFormulier {
	background-color: #eaecef;
	padding: 8px 12px 12px 8px;
	margin: 0 0 20px 0;
}

#zoekFormulier p.button {
	margin-bottom: 0;
}

#zoekFormulier button {
	background: url('../img/button.png') top right no-repeat;
	height: 21px;
	line-height: 21px;
	padding: 0 25px 0 0;
	text-align: right;
}

#zoekFormulier button:hover,#zoekFormulier button:focus {
	background-position: right bottom;
}

#zoekFormulier p input,#zoekFormulier p button {
	border: 1px solid #aaa;
	width: 100%;
}

#zoekFormulier .adreslijst {
	
}

#zoekFormulier ul {
	list-style-image: none;
	margin: 0;
}

/* feature informatie */
.featureinfo {
	
}

.copy {
	font-style: italic;
	font-size: 80%;
}

/* kaart elementen */
.kaartTitel {
	
}

.kaart {
	border: 1px solid #ccc;
	background-color: #eff0f2;
	position: relative;
}

.kaart:focus {
	outline-style: solid;
}

#toggleSize {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 21px;
	height: 21px;
	z-index: 900;
	display: block;
}

#toggleSize.max { /*max icon*/
	background: url('../img/maxmin.png') no-repeat -21px 0;
}

#toggleSize.restore { /*min icon*/
	background: url('../img/maxmin.png') no-repeat 0 0;
}

.kaartnavi {
	
}

/*openlayers elementen*/
.olCursorWait {
	cursor: wait;
}

.olDragDown {
	cursor: move;
}

.olDrawBox {
	cursor: crosshair;
}

.olHandlerBoxZoomBox {
	border: 2px solid #9900FF;
	position: absolute;
	background-color: #9900FF;
	opacity: 0.50;
	font-size: 1px;
	border-bottom-color: #6B00B3;
	border-right-color: #6B00B3;
	border-top-color: #C266FF;
	border-left-color: #C266FF;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #000;
}

div.olControlZoom {
	position: absolute;
	top: 8px;
	left: 8px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	padding: 2px;
}

div.olControlZoom a {
	display: block;
	margin: 1px;
	padding: 0;
	color: white;
	font-size: 18px;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica,
		sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	height: 22px;
	width: 22px;
	line-height: 19px;
	background: rgba(0, 60, 136, 0.8);
}

div.olControlZoom a:hover {
	background: rgba(0, 60, 136, 1.0);
}

@media only screen and (max-width: 600px) {
	div.olControlZoom a:hover {
		background: rgba(0, 60, 136, 0.5);
	}
}

a.olControlZoomIn {
	border-radius: 4px 4px 0 0;
}

a.olControlZoomOut {
	border-radius: 0 0 4px 4px;
}

/**
 * Animations
 */
.olLayerGrid .olTileImage {
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.olImageLoadError {
	display: none;
}