@charset "UTF-8";

body {
	background-color: #fff;
	font-size: 11px;
	font-family: Arial, Helvetica, Verdana, Geneva, Lucida, sans-serif;
	width: 100%;
	text-align: left;
	border:0;	
	min-width:500px;
}

html,body {	
	margin: 0;
	padding: 0;
	height: 100%;
}

/* opmaak van de elementen */
.error,.todo {
	background: url("../img/error.png") no-repeat scroll -12px 1px
		transparent;
	padding-left: 16px;
	text-align: center;
	color: #f00;
	border: 1px solid;
	font-style: italic;
	font-variant: small-caps;
}

/* verstopt */
.hidden {
	display: none;
}

html.js #kaartContainer.nothidden {
	display: block !important;
}

/* verbergen als er javascript is, hier zit de core kaart + formulier in.*/
html.js #coreContainer,html.js #coreMapImage {
	display: none;
}

html.js  #coreContainer p {
	display: none;
}

a.accesskey {
	position: absolute;
	top: -500px;
	text-align: center;
	display: block;
	height: 21px;
	overflow: hidden;
}

a.accesskey:focus {
	top: 0;
	background-color: #fff;
	width: 100%;
	color: #000;
	z-index: 900;
}

/* legenda elementen */
.legendaTitel {
	
}
/* (adres) zoeken elementen */
.zoekenTitel {
	
}

#zoekContainer {
	width:100%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.zoekinput {
	margin: 0;
	padding: 0;
}

/* Make sure it works in all browsers */
#zoekContainer .adreslijst li .button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf' );
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	line-height: 30px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	/*display:inline-block;*/
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 14px;
	text-shadow: 1px 1px 0px #ffffff;
}

#zoekContainer .adreslijst li .button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf
		), color-stop(1, #ededed) );
	background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',
		endColorstr='#ededed' );
	background-color: #dfdfdf;
}

#zoekContainer .adreslijst li .selected,#zoekContainer .adreslijst li .selected:hover
	{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #AFAFAF
		), color-stop(1, #E0E0E0) );
	background: -moz-linear-gradient(center top, #AFAFAF 5%, #E0E0E0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AFAFAF',
		endColorstr='#E0E0E0' );
	background-color: #AFAFAF;
}

#zoekContainer .adreslijst li .button:active {
	position: relative;
	top: 1px;
}

#zoekresultaten {
	float:right;
	margin-left:-350px;
	width:350px;
}

#zoekContainer .adreslijst li {
	display: inline;
	padding-right: 3px;
}

#zoekContainer .adreslijst {
	z-index: 1010;
	list-style-image: none;
	margin: 0;
	float:right;
	margin-left:-350px;
}

#zoekFormulier #adres {
	float: left;
	width: 235px;
	min-width: 120px;
	height: 27px;
	line-height: 27px;
	text-indent: 10px;
	font-size: 16px;
	color: #333;
	background: #fff;
	border: solid 1px #2d598c;
	border-top: solid 1px #2d598c;
	border-right: none;
}

.adresEmpty {
    color: #ddd !important;
}


.titel {
	color: #C53658;
	text-align: center;
}

.subtitel {
	font-size: 1.8em;
	text-align: center;
	font-family:Arial, Verdana,Helvetica,sans-serif;
	color:#4E443C;
	text-transform: none; 
	font-weight: 100; 
	margin-bottom: 0;
}

/* wegschuiven in de RIA */
/*html.js .titel, html.js .subtitel {
	position: absolute;
	top: -500px;
}*/
/*
html.js #cbslogo {
	max-width: 321px;
	height: 100%;
	background-image: url(../img/template/hdr_logo.gif);
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: auto 51px;
}/*
/*#zoekFormulier #delete {
	float: left;
	width: 34px;
	height: 31px;
	line-height: 20px;
	padding: 0 10px 0 10px;
	font-family: "Lucida Sans", "Lucida Sans Unicode", sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: #fff;
	border: solid 1px #2d598c;
	border-top: solid 1px #2d598c;
	border-left: none;
}

#zoekFormulier #delete #x {
	color: #A1B9ED;
	cursor: pointer;
	display: none;
}

#zoekFormulier #delete #x:hover {
	color: #36c;
}*/

#zoekFormulier #searchbutton {
	background-image: url('../img/search.png');
	background-position: 0px 62px;
	width: 31px;
	height: 31px;
	cursor: pointer;
	border: none;
}

#zoekFormulier #searchbutton:hover,#zoekFormulier #searchbutton:focus {
	background-position: 0px 31px;
	cursor: hand;
	cursor: pointer;
	height: 31px;
}

/* feature informatie */
.featureinfo {
	
}

#featureinfo {
	
}

.attribuutTabel {
	background-color:#fff;
	width: 100%;
}

.attribuutTabel .even {
	background-color: #B8D1E0;
}

.attribuutTabel .even {
	background-color: #fff;
}

#footerWrapper {
	z-index:1001;
	position:absolute;
	width:100%;
	background-color: #fff;
	height:44px;
	bottom:0;
	left:0;
}

.copy {
	font-style: italic;
	font-size: 80%;
}

/* kaart elementen */
.kaartTitel {
	
}

.kaart {
	border: 1px solid #ccc;
	background-color: #eff0f2;
	position: relative;
}

.kaart:focus {
	outline-style: solid;
}

#toggleSize {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 21px;
	height: 21px;
	z-index: 900;
	display: block;
	border: 1px solid #aaa;
}

#toggleSize.max { /*max icon*/
	background: url('../img/maxmin.png') no-repeat -21px 0;
}

#toggleSize.restore { /*min icon*/
	background: url('../img/maxmin.png') no-repeat 0 0;
}

#toggleBaseMap {
	position: absolute;
	z-index: 900;
	top: -1px;
	/* afstand vanaf de rand van de kaart */
	right: 50px;
	/* -right iets (2px) meer dan de breedte van de achtergrond sprite>40px */
	padding: 0 42px 0 2px;
	line-height: 21px;
	color: #fff;
	text-align: right;
	display: block;
	border: 1px solid #aaa;
	background-color: rgba(0, 60, 136, 0.8);
	background-repeat: no-repeat;
	background-image: url('../img/lufotopo.png');
}

#toggleBaseMap:hover {
	background-color: rgba(0, 60, 136, 1.0);
}

#toggleBaseMap.lufo { /*lufo icon*/
	background-position: top right;
}

#toggleBaseMap.topo { /*kaart icon*/
	background-position: right bottom;
}

#sliderFGMap {
	position: absolute;
	z-index: 900;
	top: -1px;	
	right: 170px;
	width: 200px;
	line-height: 21px;
	color: #fff;
	background-color: rgba(0, 60, 136, 0.8);
	border: 1px solid #aaa;
	display: block;
}

#sliderFGMap:hover {
	background-color: rgba(0, 60, 136, 1.0);
}

#sliderFGMap .ui-slider-handle {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555;
}

#sliderFGMap a {
	text-align:center;
	vertical-align: middle;
	text-decoration: none
}

#slidervalue {
	position: absolute;
	left: 0;
	top: 17px;
	color: #000;
	background-color: #fff;
	line-height: 15px;
	border: 1px solid #aaa;
}

.kaartnavi {
	position: absolute;
	display: inline;
	margin-left: 1em;
}

.kaartnavi fieldset {
	border: 1px solid #dcdcdc;
	padding: 2px;
	border-radius: 6px;
}

.kaartnavi button {
	border: 1px solid #dcdcdc;
	cursor: pointer;
	background-color: #ededed;
	padding: 0 10px;
	line-height: 2;
	min-height: 2em;
	color: #000;
	display: block;
	border-radius: 6px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #fff;
	box-shadow: inset 0 1px 0 0 #fff;
}

.kaartnavi button:hover {
	box-shadow: inset 0 1px 0 0 #aaa;
	border: 1px solid #555;
}


.utilBlock {
	min-width: 230px;
	margin-top: 2px;
	float: right;
}

.utilBlock a span {
	color: #000;
	font-size: 12px;
}

.utilBlock a {
	color: #7e7e7e;
	border-right: 1px Solid #c7c7c7;
	padding-right: 9px;
	line-height: 10px;
	margin-right: 9px;
	text-decoration: none;
}

.utilBlock a.active {
	font-weight: bold;
	color: #6ba1d4;
}

.utilBlock a:hover {
	color: #d46882;
	text-decoration: underline;
}

#footer {
	width:100%;
	background:#ddd;
	background-color: #426A98;
	background-repeat: no-repeat;
	height: 29px;
	line-height: 28px;
	color: #b3c3d6;
	text-align: center;
	margin-top: 3px;
}

#footer a {
	color: #b3c3d6;
	text-decoration: none;
	line-height: 12px;
	padding-right: 15px;
	padding-left: 13px;
}

#footer a:hover {
	text-decoration: underline;
}

#footer a.last {
	background-image: none;
	padding-right: 0px;
}

.redcolor {
	color: red;
}

#header {
  min-width:350px;
  padding-left: 326px;  
  padding-right: 270px;  
  max-height:76px;
}

#header .column {
  position: relative;
  float: left;
}

#headercenter {
  width: 100%;
}

#headerleft {
  width: 326px;         
  right: 326px;        
  margin-left: -100%;
}

#headerright {
  max-height:76px;
  width: 270px;      
  margin-right: -270px;  
  z-index:1020;
}

* html #headerleft {
  left: 270px;          
}

#wrapper {
	position:relative; 
	margin:0 auto; 
	width:100%;
	height:auto !important; 
	height:100%; 
	min-height:100%;
}

.logo
{
	border:none;
}

#inhoud { 
	padding:76px 0px 44px; /* padding for header/footer/copyright/download link, used in Viewer.js */	
}

#legendaContainer {
	border: 1px Solid #c7c7c7;
	padding: 3px;
	background: rgb(255, 255, 255) transparent; /* oude browsers */
	background: rgba(255, 255, 255, 0.6);
	min-width: 120px;
	position: absolute;
	left: 5px;
	top: 185px;
	z-index: 1003;
}

#infoContainer {
	background: rgb(255, 255, 255) transparent; /* oude browsers */
	background: rgba(255, 255, 255, 0.6);
	padding: 3px;
	min-width: 120px;
	border: 1px Solid #c7c7c7;
	position: absolute;
	left: 5px;
	top: 390px;
	z-index: 1003;
}

.custom {
	padding: 0.5em 0.8em 0.8em 2em;
}

.info {
	background: #9FDAEE;
	border: 1px solid #2BB0D7;
}

.menuinfo {
	background: #ffffff;
	border: 1px solid #2BB0D7;
}

/* end feature info css tests */

.disabled {
	color: red;
	background-color: #dddddd;
}

.settingsPanel 
{
	z-index: 1003;
	position: absolute;
	left: 4px;
	top: 185px;
	width: 200px;
	margin: 10px auto 30px auto;
}

.menuAccordion {
	z-index: 1003;
	position: relative;
	width: 784px;
	margin: 0px;
}

.settingsPanel,
.settingsPanel ul,
.settingsPanel li,
.settingsPanel a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.settingsPanel li, 
.menuAccordion li {
	list-style: none;
}

/* Layout & Style */
.settingsPanel li > a {
	display:block;
	position: relative;
	line-height:32px;
	height: 32px;
	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	min-width: 110px;
	padding: 0 10px 0 40px;
	background: #94979E;
	background: -moz-linear-gradient(top,  #94979E 0%, #6F7277 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94979E), color-stop(100%,#6F7277));
	background: -webkit-linear-gradient(top,  #94979E 0%,#6F7277 100%);
	background: -o-linear-gradient(top,  #94979E 0%,#6F7277 100%);
	background: -ms-linear-gradient(top,  #94979E 0%,#6F7277 100%);
	background: linear-gradient(top,  #94979E 0%,#6F7277 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.menuAccordion li > .accordionheader {
	display:block;
	position: absolute;
	left:0px;
	bottom:0px;
	height: 32px;
	line-height:32px;
	max-height: 32px;
	width:100%;
	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	min-width:500px;

	padding-left: 5px;
	background: #D2D6E0;
	background: -moz-linear-gradient(top,  #D2D6E0 0%, #94979E 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D2D6E0), color-stop(100%,#94979E));
	background: -webkit-linear-gradient(top,  #D2D6E0 0%,#94979E 100%);
	background: -o-linear-gradient(top,  #D2D6E0 0%,#94979E 100%);
	background: -ms-linear-gradient(top,  #D2D6E0 0%,#94979E 100%);
	background: linear-gradient(top,  #D2D6E0 0%,#94979E 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);	
}

.settingsPanel > li:hover > a,
.settingsPanel > li:target > a,
.settingsPanel > li > a.active,
.menuAccordion > li:hover > a,
.menuAccordion > li:target > a,
.menuAccordion > li > a.active {
	color: #fff !important;
	background: #31629F;
	background: -moz-linear-gradient(top,  #31629F 0%, #003C88 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31629F), color-stop(100%,#003C88));
	background: -webkit-linear-gradient(top,  #31629F 0%,#003C88 100%);
	background: -o-linear-gradient(top,  #31629F 0%,#003C88 100%);
	background: -ms-linear-gradient(top,  #31629F 0%,#003C88 100%);
	background: linear-gradient(top,  #31629F 0%,#003C88 100%);	
}

.menuAccordion > li > a.active {
	display:none;
}

.settingsContent, .menuAccordionContent {
	background-color:rgba(255,255,255,1);
}

.menuAccordionContent {
	height:470px;
}

/* Images */
.settingsPanel > li > a:before
 {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 8px;

	background-repeat: no-repeat;
	background-image: url(../img/template/settings_icons.png);
	background-position: 0px 0px;
}

.settingsPanel li.legendPanel > a:before { background-position: 0px 0px; }
.settingsPanel li.legendPanel:hover > a:before,
.settingsPanel li.legendPanel:target > a:before,
.settingsPanel li.legendPanel > a.active:before { background-position: 0px -24px; }

.settingsPanel li.featureinfoPanel > a:before { background-position: -24px 0px; }
.settingsPanel li.featureinfoPanel:hover > a:before,
.settingsPanel li.featureinfoPanel:target > a:before,
.settingsPanel li.featureinfoPanel > a.active:before { background-position: -24px -24px; }

/* Functionality */
.settingsPanel li > .settingsContent,
.menuAccordion li > .menuAccordionContent {
	display: none;
}

.settingsPanel li:target > .settingsContent,
.menuAccordion li:target > .menuAccordionContent,
.settingsPanel li:first-child > .settingsContent, /* needed in coreonly mode, in other cases Jquery */
.menuAccordion li:first-child > .menuAccordionContent /* needed in coreonly mode */
 {
	display:block;
}

#downloadLink a {
	background: transparent url(../img/opendata.png) 0px 1px no-repeat;
	padding-left: 18px;
}

table.download {
	font: 11px/24px Arial, Helvetica, Verdana, Geneva, Lucida, sans-serif;
	border-collapse: collapse;
	width: 600px;
}

.download th {
	padding: 0 0.5em;
	text-align: left;
	}

.download tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

.download td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

.download td:first-child {
	width: 190px;
	}

.download td+td {
	border-left: 1px solid #CCC;
	text-align: center;
	}
