<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="cbsviewer" version="2.5">
	<display-name>CBS viewer</display-name>
	<description>Ontsluit geodata van het CBS via open standaarden</description>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>reverse proxy servlet om XHR te laten werken</description>
		<display-name>ReverseProxyServlet</display-name>
		<servlet-name>ReverseProxyServlet</servlet-name>
		<servlet-class>nl.mineleni.cbsviewer.servlet.ReverseProxyServlet</servlet-class>
		<init-param>
			<description>Servers die zijn toegestaan om te benaderen via deze proxy, scheiden door een ; [punt-komma]</description>
			<param-name>allowed_hosts</param-name>
			<param-value>geodata.nationaalgeoregister.nl; localhost</param-value>
		</init-param>
		<!--
		<init-param>
			<description>hostnaam of ip adres van de proxy die deze servlet gebruikt om het internet op te gaan</description>
			<param-name>proxy_host</param-name>
			<param-value>wpad.agro.nl</param-value>
		</init-param>
		<init-param>
			<description>poortnummer van de proxy die deze servlet gebruikt om het internet op te gaan</description>
			<param-name>proxy_port</param-name>
			<param-value>8080</param-value>
		</init-param>
		-->
	</servlet>
	<servlet-mapping>
		<servlet-name>ReverseProxyServlet</servlet-name>
		<url-pattern>/xhr</url-pattern>
	</servlet-mapping>
</web-app>